body {
    font-family: Courier, monospace;
    padding: 20px;
    background-color: #6699;
    line-height: 1.6;
}

#question-container div {
    margin-bottom: 20px;
    text-align:start;
    color: #7e0077aa
}
h1{
    text-align: center;
    color:#eba9eb
}
label {
    display: block; /* Faz cada resposta aparecer em uma nova linha */
}
.botao{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
}
.btn {
    background-color: #eba9eb;
    color: #7e0077aa;
    font-size: 1.5em;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}